body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  height: 100vh;
}

@media (max-width: 768px) {
  #btn-top {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
  }
}

.increased-letter-spacing {
  letter-spacing: 0.1em;
  /* Ajuste o valor conforme necessário */
}