<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../static/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/10.4.0/firebase-app-compat.js"></script>
  <script src="https://www.gstatic.com/firebasejs/10.4.0/firebase-auth-compat.js">
  </script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Login</title>
</head>
<body>
  <header>
    <nav>

      <!-- Botões de Acessibilidade -->
      <div class="accessibility-buttons text-center">
        <button id="toggle-contrast" class="btn btn-link btn-icon change-contrast" title="Alternar Contraste">
          <i class="fas fa-adjust"></i>
        </button>
        
        <button id="increase-font-size" class="btn btn-link btn-icon" title="Aumentar Fonte">
          <i class="fas fa-text-height"></i>
        </button>
        <button id="start-speech-recognition" class="btn btn-link btn-icon" title="Iniciar Reconhecimento de Fala">
          <i class="fas fa-microphone"></i>
      </button>
      
        
        
      </div>

    </nav>
  </header>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h2 class="text-center">Sistema de Login</h2>
          </div>
          <div class="card-body">
            <form id="loginForm">
              <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" class="form-control" id="email" placeholder="Seu e-mail" required aria-label="E-mail">
              </div>
              <div class="form-group">
                <label for="password">Senha</label>
                <input type="password" class="form-control" id="password" placeholder="Sua senha" required>
              </div>
              <button type="submit" class="btn btn-primary btn-block">Entrar</button>
              <button type="button" class="btn btn-danger btn-block" id="googleLogin">Login com o Google</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.responsivevoice.org/responsivevoice.js"></script>

  <script src="../static/js/acessibilidade.js"></script>
  <script src="../static/js/conexao.js"></script>
  <script src="../static/js/funcaospeak.js" ></script>
</body>
</html>
